﻿/* General */

body {
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #91C3DC;
}

.divku {
    background-color: #F9F6F4;
    margin-top: 20px;
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.center {
    text-align: center;
}

.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.page-header-custom {
    margin-bottom: 18px;
}

.page-header-custom h2 {
    margin-bottom: 10px;
}

.ui-dialog .ui-dialog-titlebar {
    padding-left: 5px;
}

/* End General */

/* Menu */

.navbar .container-fluid {
    height: 75px;
}

.navbar .brand {
    padding-top: 15px;
    float: left;
}

.navbar .brand img {
    height: 70px;
    width: 70px;
    float: left;
    margin-top:-10px;
}
.nama{
    float: left;
    height: 50px;
    width: 250px;
    margin-top:20px;
    margin-left: 5px;
    font-size: 30px;
}

.navbar li a {
    font-size: 12px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
}

.navbar li a:hover {
    color: #FFFFFF;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.navbar .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

[class^="nav-icon-"], [class*=" nav-icon-"] {
    line-height: 14px;
    vertical-align: text-top;
}

.navbar #primary-nav {
    margin-left: 10px;
}

.navbar #primary-nav > li > a {
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
}

.navbar #primary-nav > li > a > i {
    display: inline-block;
    width: 28px;
    height: 25px;
}

.navbar #primary-nav > li > a > span {
    display: block;
}

.navbar #primary-nav > li > a > i.nav-icon-1 {
    background: url('../img/nav-icon-1.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-2 {
    background: url('../img/nav-icon-2.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-3 {
    background: url('../img/nav-icon-3.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-4 {
    background: url('../img/nav-icon-4.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-5 {
    background: url('../img/nav-icon-5.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-6 {
    background: url('../img/nav-icon-6.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-7 {
    background: url('../img/nav-icon-7.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-8 {
    background: url('../img/nav-icon-8.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-9 {
    background: url('../img/nav-icon-9.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-10 {
    background: url('../img/nav-icon-10.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-11 {
    background: url('../img/nav-icon-11.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-12 {
    background: url('../img/nav-icon-12.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-13 {
    background: url('../img/nav-icon-13.png') no-repeat top center;
}

.navbar #primary-nav > li > a > i.nav-icon-14 {
    background: url('../img/nav-icon-14.png') no-repeat top center;
}

.navbar #secondary-nav > li > a {
    padding-top: 28px;
}

/* End Menu */

/* Subnav */
.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee;
 /* Old browsers */
    background-repeat: repeat-x;
 /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
 /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
 /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%);
 /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.subnav .nav {
    margin-bottom: 0;
}

.subnav .nav > li > a {
    color: #333333;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}

.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.subnav .nav > li:last-child > a {
    border-right: 0;
}

.subnav .dropdown-menu {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* End Subnav */

/* Login Form */

#login-page {
    background: #38393B url(../img/linen-bg.jpg) repeat;
}

#login .row.logo {
    padding-top: 100px;
}

#login input[type=text], #login input[type=password] {
    width: 223px;
}

#login .well {
    background: none;
    border: none;
    box-shadow: none;
}

/* End Login Form */

/* Dashboard */

#columns .column {
    float: left;
    width: 33.3%;
 /* Min-height: */
    min-height: 400px;
    height: auto !important;
}

#columns #widget1 .widget {
    margin-right: 10px;
}

#columns #widget2 .widget {
    margin-left: 10px;
    margin-right: 10px;
}

#columns #widget3 .widget {
    margin-left: 10px;
}

#columns .widget {
    margin: 20px 0px 0px 0px;
    padding: 0px;
    position: relative;
    border: 1px solid #DDDDDD;
}

#columns .widget .widget-head {
    overflow: hidden;
    background-color: #F0F0F0;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
}

#columns .widget .widget-head span {
    color: #0088CC;
    text-shadow: #fff 0 1px;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    white-space: nowrap;
    float: left;
}

#columns .widget .widget-content {
    padding: 0px;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
}

#columns .widget .widget-iframe {
    width: 100%;
    height: 180px;
    border: none;
}

.widget-head a.remove {
    float: right;
    display: inline;
    background: url(../img/buttons.png) no-repeat -20px 0;
    width: 12px;
    height: 12px;
    margin: 6px 1px 4px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.edit {
    float: right;
    display: inline;
    background: url(../img/buttons.png) no-repeat -3px 0;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    margin: 6px 6px 4px 4px;
    outline: none;
}

.widget-head a.collapse {
    float: left;
    display: inline;
    background: url(../img/buttons.png) no-repeat -48px 0;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    margin: 6px -3px 4px 7px;
    outline: none;
}

.widget-placeholder {
    border: 2px dashed #777;
    margin: 18px 8px 0px 8px;
}

.collapsed .widget-head a.collapse {
    background-position: -34px 0;
}

.collapsed .widget-content {
    display: none !important;
}
/* End Dashboard */


/* Tambahan */
/** right sidebar avatar **/
ul.connections li .avatar{
  float:left;
  margin:0 10px 10px 0;
  width:40px;
  height:40px;
}

/** news feed right sidebar **/
ul.connections {margin:0;padding:0;list-style:none;}
ul.connections li{
  min-height:75px;
  margin-bottom:15px;
  line-height:1.3;
  border-bottom:1px solid #dedede;
}
ul.connections li h4{font-size:16px;margin-bottom:5px;}
ul.connections li .to-usr, ul.connections li .meta{display:block;}
ul.connections li .to-usr {font-weight:bold;}
ul.connections li .meta{color:#bebebe;}